<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.kgc.servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BigJobInfoServlet</servlet-name>
    <servlet-class>com.kgc.servlet.BigJobInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.kgc.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BusinessInfoServlet</servlet-name>
    <servlet-class>com.kgc.servlet.BusinessInfoServlet</servlet-class>
  </servlet>
	<servlet>
    <servlet-name>UserResServlet</servlet-name>
    <servlet-class>com.kgc.servlet.UserResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserResServlet</servlet-name>
    <url-pattern>/UserResServlet.do</url-pattern>
  </servlet-mapping>	
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BigJobInfoServlet</servlet-name>
    <url-pattern>/BigJobInfoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BusinessInfoServlet</servlet-name>
    <url-pattern>/BusinessInfoServlet.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kgc.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.kgc.servlet.RegisterServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>JobsServlet</servlet-name>
    <servlet-class>com.kgc.servlet.JobsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <servlet-class>com.kgc.servlet.UpdatePwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UinfoServlet</servlet-name>
    <servlet-class>com.kgc.servlet.UinfoServlet</servlet-class>
  </servlet>

   <servlet-mapping>
    <servlet-name>JobsServlet</servlet-name>
    <url-pattern>/JobsServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <url-pattern>/UpdatePwdServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UinfoServlet</servlet-name>
    <url-pattern>/UinfoServlet.do</url-pattern>
  </servlet-mapping>
 
  
    <!-- 过滤器 -->
  <filter>
  	<filter-name>JobFilter</filter-name>
  	<filter-class>com.kgc.filter.JobFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>JobFilter</filter-name>
  	<url-pattern>/index.jsp</url-pattern>
  </filter-mapping>	
  <welcome-file-list>
    <welcome-file>glogin.jsp</welcome-file>
  </welcome-file-list>
</web-app>
